* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Metropolis", Arial, sans-serif;
}

.wrap {
  max-width: 1440px;
  margin: 0 auto;
  overflow: hidden;
}

.scrollToTop {
  position: fixed;
  font-size: 40px;
  color: transparent;
  z-index: 1;
  right: 15px;
  bottom: -60px;
  cursor: pointer;
  transition: 0.8s;
}

.scrollToTop:hover {
  color: #dd5e00;
}

.changeDisplayBlock {
  bottom: 5px;
  color: #ff5e00;
}

@media (min-width: 1024px) {
  .scrollToTop {
    font-size: 48px;
    right: 45px;
  }
}

/* first section */

.custom {
  display: flex;
  padding: 25px;
  font-weight: 700;
  border-bottom: 1px solid #e0e0e0;
}

.custom .eng {
  margin-right: auto;
  width: 24px;
  height: 24px;
}

.custom .eng img {
  margin-right: 10px;
  width: 20px;
  height: 20px;
  line-height: 24px;
  margin: auto;
}

.custom .eng p {
  line-height: 24px;
  padding-left: 5px;
}

.custom .smaller,
.custom .bigger {
  margin-right: 25px;
  font-weight: 600;
  line-height: 24px;
}

.custom > div {
  display: flex;
}

.custom .halfStroke {
  background-color: #182b49;
  border-radius: 6px;
  width: 24px;
  height: 24px;
  text-align: center;
  cursor: pointer;
}

.custom .halfStroke i {
  color: #fff;
  line-height: 24px;
  margin: 0 auto;
}

/* next section */

.logo {
  display: flex;
  padding: 25px 25px 10px 25px;
}

.logo a {
  margin-right: auto;
}

.logo .burger,
.logo .xmark {
  cursor: pointer;
}

.logo .burger i,
.logo .xmark i {
  font-size: 24px;
}

.menu {
  text-align: center;
  background-color: #f5f8fc;
  height: 670px;
  width: 100%;
  font-weight: 700;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.none,
.bar {
  display: none;
}

.menu ul {
  list-style: none;
}

.menu ul li {
  margin: 40px;
  cursor: pointer;
}

.menu ul li:nth-of-type(1) {
  padding-top: 40px;
}

.menu a {
  background-color: transparent;
  text-decoration: none;
  font-weight: 700;
  color: #ff5e00;
  border: 1px solid #ff5e00;
  font-size: 16px;
  width: 335px;
  padding: 15px;
  margin: auto 0 30px;
  cursor: pointer;
  transition: 0.2s;
}

@media (min-width: 1024px) {
  .mainMenu {
    display: flex;
    align-items: center;
  }

  .custom {
    background-color: #f7f8f7;
    border-radius: 4px;
    width: 215px;
    border-bottom: none;
    padding: 10px;
    order: 1;
  }

  .custom .eng {
    margin-right: 60px;
  }

  .custom .halfStroke:hover {
    background-color: transparent;
  }

  .custom .halfStroke:hover i {
    color: #182b49;
  }

  .logo .burger {
    display: none;
  }

  .xmark {
    display: none;
  }

  .menu {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
    width: auto;
    height: auto;
    background-color: #fff;
  }

  .menu ul {
    display: flex;
  }

  .menu ul li {
    margin: 20px;
  }

  .menu ul li:nth-of-type(1) {
    padding-top: 0;
  }

  .menu a {
    width: 150px;
    border-radius: 6px;
    margin: 20px 40px;
  }

  .menu a:hover {
    background-color: #ff5e00;
    color: #fff;
  }
}

.lyrics {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.infoLyrics {
  text-transform: uppercase;
  font-size: 15px;
  padding: 0;
  margin: -5px;
}

.infoLyrics p {
  text-transform: uppercase;
  font-size: 15px;
  font-weight: 500;
}

.infoLyrics p:nth-of-type(1) {
  letter-spacing: 3.5px;
}

.infoLyrics p:nth-of-type(2) {
  letter-spacing: 1px;
  color: #ff6319;
}

.infoLyrics p span {
  font-weight: bold;
}

.lyrics .orangeBottom {
  border-bottom: 10px solid #ff6319;
}

.lyrics .orangeBottom:nth-of-type(1) {
  width: 50%;
}

.lyrics .orangeBottom:nth-of-type(3) {
  width: 7%;
}

@media (min-width: 460px) {
  .lyrics .orangeBottom:nth-of-type(1) {
    width: 56%;
  }

  .lyrics .orangeBottom:nth-of-type(3) {
    width: 8%;
  }
}

@media (min-width: 640px) {
  .lyrics .orangeBottom:nth-of-type(1) {
    width: 58%;
  }

  .lyrics .orangeBottom:nth-of-type(3) {
    width: 10%;
  }
}

@media (min-width: 768px) {
  .lyrics {
    margin-top: 25px;
  }

  .infoLyrics p {
    font-size: 16px;
  }

  .lyrics .orangeBottom {
    border-bottom: 15px solid #ff6319;
  }

  .lyrics .orangeBottom:nth-of-type(1) {
    width: 62%;
  }

  .lyrics .orangeBottom:nth-of-type(3) {
    width: 12%;
  }
}

@media (min-width: 1024px) {
  .lyrics {
    margin-top: 30px;
  }

  .infoLyrics p {
    font-size: 18px;
  }

  .lyrics .orangeBottom {
    border-bottom: 19px solid #ff6319;
  }

  .lyrics .orangeBottom:nth-of-type(3) {
    width: 15%;
  }
}

@media (min-width: 1280px) {
  .lyrics .orangeBottom:nth-of-type(1) {
    width: 68%;
  }
}

/* next section */

.baner {
  margin: 25px 0;
  height: 585px;
  background-image: url("../img/slider/mainPhoto.webp");
  background-position: 50% 50%;
  background-size: cover;
  background-attachment: fixed;
  /* animation: photos 5s infinite; */
}

.baner p:nth-of-type(1) {
  font-weight: 600;
  color: #fff;
  text-shadow: 0px 1px 3px rgba(0, 0, 0, 0.7);
  font-size: 40px;
  width: 280px;
}

.baner p:nth-of-type(2) {
  display: none;
}

.baner button {
  background-color: #ff5e00;
  border-radius: 6.25px;
  border: none;
  color: #fff;
  font-size: 18px;
  padding: 16px 28px;
  margin-top: 30px;
  cursor: pointer;
  transition: 0.2s;
}

.baner button i {
  font-size: 16px;
  transition: 0.2s;
}

.baner .info {
  padding: 50px 30px;
}

.baner .info ~ i {
  display: none;
}

.baner .dotNav {
  position: absolute;
  bottom: 50px;
  width: 100%;
  display: flex;
  justify-content: center;
}

.baner .dotNav > * {
  width: 25px;
  height: 25px;
  margin: 0 6px;
  border-radius: 50%;
  background-color: #ff5e00;
  cursor: pointer;
}

.baner .dotNav > .activeDot {
  /* width: 15px;
  height: 15px;
  margin: 0 6px;
  border-radius: 50%; */
  background-color: #d3ad97;
}

@media (min-width: 1024px) {
  .baner {
    position: relative;
    height: 850px;
  }

  .baner .info {
    position: absolute;
    height: 475px;
    width: 535px;
    background-color: rgba(255, 255, 255, 0.95);
    border-radius: 8px;
    margin: 100px;
  }

  .baner p:nth-of-type(1) {
    color: #000;
    text-shadow: none;
    font-size: 36px;
  }

  .baner p span {
    color: #ff5e00;
    display: block;
    width: 400px;
  }

  .baner p:nth-of-type(2) {
    display: block;
    line-height: 32px;
    margin: 30px 0 10px 0;
  }

  .baner button:hover {
    color: #ff5e00;
    background-color: transparent;
    border: 1px solid #ff5e00;
  }

  .baner button:hover i {
    margin-left: 15px;
  }

  .baner .info ~ i {
    display: block;
    position: absolute;
    font-size: 48px;
    color: #ff5e00;
    cursor: pointer;
  }

  .baner .info + i {
    top: calc(850px / 2 - 24px);
    left: 20px;
  }

  .baner i:nth-of-type(2) {
    top: calc(850px / 2 - 24px);
    right: 20px;
  }
}

/* next section */

.businessBox {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.business {
  padding: 40px 30px;
  text-align: center;
}

.business h1 {
  font-size: 1.8em;
}

.business p {
  margin: 30px 0;
  line-height: 32px;
}

.businessBox button {
  border: 2px solid #ff5e00;
  color: #ff5e00;
  background: #fff;
  padding: 20px 24px;
  border-radius: 5px;
  font-size: 18px;
  margin: 0 auto 50px;
  cursor: pointer;
  transition: 0.2s;
}

.businessBox button i {
  margin-left: 5px;
  transition: 0.2s;
}

.businessBox .modernBusiness,
.businessBox .maritimieTech,
.businessBox .logistics,
.businessBox .itServices {
  height: 190px;
}

.businessBox .modernBusiness {
  background-image: url("../img/modernBusiness.jpg");
  background-position: 65% 30%;
  background-size: 190% auto;
}

.businessBox .maritimieTech {
  background-image: url("../img/maritimeTech.jpg");
  background-position: 5% 45%;
  background-size: 180% auto;
}

.businessBox .logistics {
  background-image: url("../img/logistics.jpg");
  background-position: 50% 80%;
  background-size: 150% auto;
}

.businessBox .itServices {
  background-image: url("../img/itServices.jpg");
  background-position: 65% 60%;
  background-size: 120% auto;
}

.businessBox h3:nth-of-type(1) {
  margin: 30px 10px 30px 40px;
  color: #ff5e00;
}

.businessBox h3:nth-of-type(2) {
  margin-top: 30px;
}

.businessBox .title {
  display: flex;
}

.businessBox .title ~ p {
  line-height: 32px;
  margin: 0 40px 30px 40px;
}

.textReadMore {
  font-weight: 600;
  font-size: 14px;
  line-height: 16px;
  color: #ff5e00;
  margin-bottom: 60px;
  cursor: pointer;
}

.textReadMore > i {
  margin-left: 5px;
  transition: 0.2s;
}

@media (min-width: 768px) {
  .business + button {
    order: 1;
  }

  .imgBox .title + p {
    display: none;
  }

  .businessBox .imgBox {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    max-width: 600px;
    margin: 0 auto;
  }

  .imgBox > div {
    flex-basis: 250px;
  }

  .imgBox > div > div {
    border-radius: 6px;
  }
}

@media (min-width: 1024px) {
  .textReadMore:hover > i {
    margin-left: 15px;
  }

  .business + button:hover {
    background-color: #ff5e00;
    color: #fff;
  }

  .business + button:hover i {
    margin-left: 20px;
  }

  .businessBox .imgBox {
    flex-wrap: nowrap;
    max-width: 1440px;
    margin: 0;
  }

  .imgBox > div {
    flex-basis: 250px;
  }
}

@media (min-width: 1280px) {
  .imgBox > div {
    flex-basis: 300px;
  }
}

/* next section */

.aboutGdynia .infoBox {
  background-color: #1f3049;
  border-top-right-radius: 120px;
  color: #fff;
  padding: 70px 30px 30px 40px;
  line-height: 32px;
}

.aboutGdynia .infoBox h1 {
  margin-bottom: 20px;
  line-height: 32px;
}

.aboutGdynia .infoBox h1 span {
  display: block;
  margin: 16px 0;
}

.aboutGdynia .infoBox a {
  display: inline-block;
  background-color: #ff5e00;
  border-radius: 6.25px;
  border: none;
  color: #fff;
  font-size: 16px;
  text-decoration: none;
  padding: 15px;
  margin: 30px 0 20px 0;
  cursor: pointer;
}

.aboutGdynia .infoBox a i {
  margin-left: 15px;
}

.aboutGdynia .infoCheckBox {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  margin: 50px 0;
}

.aboutGdynia .infoCheckBox > div {
  display: flex;
}

.aboutGdynia .infoCheckBox .check {
  background-color: #ff5e00;
  color: #fff;
  width: 24px;
  height: 24px;
  border-radius: 4px;
  text-align: center;
  line-height: 24px;
}

.aboutGdynia .infoCheckBox .check + p {
  margin-left: 10px;
  width: 120px;
  margin-bottom: 20px;
}

.aboutGdynia .infoCheckBox .check + p > span {
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
  font-size: 20px;
}

.aboutGdynia .imageGdynia {
  background-image: url("../img/shipGdynia.jpg");
  background-position-x: 40%;
  background-size: 160% auto;
  height: 445px;
  border-bottom-right-radius: 120px;
}

@media (min-width: 1024px) {
  .aboutGdynia {
    display: flex;
    max-width: 1440px;
    flex-wrap: wrap;
  }

  .aboutGdynia .infoBox {
    flex-basis: 55%;
  }

  .aboutGdynia .infoCheckBox {
    flex-shrink: 0;
    flex-basis: 30%;
    margin: 100px auto;
  }

  .aboutGdynia .imageGdynia {
    flex-basis: 55%;
    height: 350px;
    background-size: 160% auto;
  }

  .aboutGdynia .infoBox a:hover {
    color: #ff5e00;
    background-color: transparent;
    border: 1px solid #ff5e00;
  }

  .aboutGdynia .infoBox a:hover i {
    margin-left: 25px;
  }
}

/* next section */

.aboutServices .titleBox {
  padding: 80px 30px;
  text-align: center;
}

.aboutServices .titleBox h1 {
  font-size: 1.8em;
}

.aboutServices .titleBox p {
  margin: 30px 0 0 0;
  line-height: 32px;
}

.servicesExampleBox .imgBox {
  width: 120px;
  height: 120px;
  background-color: #f5f8fc;
  border-radius: 50%;
  text-align: center;
  margin: 0 auto;
  margin-top: 50px;
}

.servicesExampleBox div:nth-of-type(1) .imgBox {
  margin-top: 0px;
}

.servicesExampleBox .imgBox img {
  margin-top: calc((120px - 50px) / 2);
}

.servicesExampleBox h3 {
  margin: 30px 0 30px 40px;
}

.servicesExampleBox h3 ~ p {
  line-height: 32px;
  margin: 0 40px 30px 40px;
}

.servicesExampleBox + .helpButton {
  display: none;
}

@media (min-width: 1024px) {
  .servicesExampleBox {
    display: flex;
    flex-wrap: wrap;
    max-width: 1020px;
    margin: 0 auto;
  }

  .servicesExampleBox > div {
    flex-basis: 330px;
  }

  .servicesExampleBox div:nth-of-type(1) .imgBox {
    margin-top: 50px;
  }

  .servicesExampleBox + .helpButton {
    display: flex;
    justify-content: center;
    margin: 20px 0 100px;
  }

  .servicesExampleBox + .helpButton button {
    background-color: transparent;
    border: 2px solid #ff5e00;
    border-radius: 6.25px;
    color: #ff5e00;
    padding: 24px;
    font-weight: 700;
    font-size: 16px;
    cursor: pointer;
    transition: 0.2s;
  }

  .servicesExampleBox + .helpButton button:hover {
    background-color: #ff5e00;
    color: #fff;
  }

  .servicesExampleBox + .helpButton button i {
    transition: 0.2s;
    margin-left: 10px;
  }

  .servicesExampleBox + .helpButton button:hover i {
    margin-left: 25px;
  }
}

/* next section */

@media (min-width: 1024px) {
  .imageGdyniaGlowna {
    background-image: url("../img/townGdynia.jpg");
    height: 425px;
    background-position: 50% 50%;
    background-size: cover;
    background-attachment: fixed;
    margin-bottom: 10px;
  }
}

/* next section */

.clients {
  text-align: center;
}

.clients h1 {
  font-size: 1.8em;
  padding: 30px 0 50px 0;
}

.clients .colorWrapper {
  height: 620px;
  background-color: rgba(255, 94, 0, 0.1);
  width: 100%;
  border-radius: 120px 0 0 120px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 50px;
}

.clients .colorWrapper > p {
  display: none;
}

.personBox {
  position: relative;
  box-shadow: 0px 1px 12px rgba(0, 0, 0, 0.09);
  border-radius: 7px;
  background-color: #ffffff;
  width: 340px;
  margin: 0 auto;
  padding: 30px 30px 40px 30px;
}

.personBox .quote {
  position: absolute;
  top: -5px;
  left: 5px;
}

.personBox > p {
  line-height: 32px;
}

.personBox > p:nth-of-type(1) {
  color: #ff6e1a;
  font-weight: 600;
  padding: 20px 0;
}

.clients .avatarBox {
  display: flex;
  justify-content: space-around;
  margin-top: 30px;
}

.clients .avatarBox .personalData {
  align-self: center;
  font-size: 12px;
}

.clients .avatarBox .personalData p:nth-child(1) {
  font-weight: bold;
  font-size: 16px;
  padding-bottom: 8px;
}

.clients .avatarBox img {
  margin-right: auto;
  border-radius: 50%;
}

.clients button {
  margin: 20px 0 40px 0;
  color: #ff5e00;
  border: 2px solid #ff5e00;
  border-radius: 6.25px;
  padding: 24px;
  font-weight: 700;
  font-size: 16px;
  background-color: transparent;
  font-weight: 600;
  cursor: pointer;
}

.clients button i {
  transition: 0.2s;
  margin-left: 10px;
}

.clients .colorWrapper button {
  display: none;
}

.clients .colorWrapper > i {
  display: none;
}

@media (min-width: 1024px) {
  .clients .colorWrapper {
    position: relative;
    height: 830px;
    top: 0px;
    left: 40%;
    border-radius: 360px;
    margin-bottom: 100px;
  }

  .clients .colorWrapper + button {
    display: none;
  }

  .clients .personBox {
    left: -40%;
  }

  .personBox .quote {
    position: absolute;
    top: -20px;
    left: -10px;
  }

  .clients .colorWrapper > p {
    display: block;
    position: relative;
    left: -40%;
    margin: 150px 150px 60px;
  }

  .clients .colorWrapper > button {
    display: block;
    margin: 60px;
    position: relative;
    left: -40%;
  }

  .clients .colorWrapper > button:hover {
    background-color: #ff5e00;
    color: #fff;
  }

  .clients .colorWrapper > button:hover i {
    margin-left: 25px;
  }

  .clients .colorWrapper > i {
    display: block;
    position: relative;
    color: #ff5e00;
    font-size: 48px;
    cursor: pointer;
  }

  .colorWrapper > i:nth-of-type(1) {
    top: -55%;
    left: -85%;
  }

  .colorWrapper > i:nth-of-type(2) {
    top: -60%;
    right: -5%;
  }
}

/* next section */

.partners h1 {
  color: #5f6f87;
  background-color: #f5f8fc;
  text-align: center;
  padding: 80px 0 30px 0;
  font-size: 1.8em;
}

.partners .partnersBox {
  background-color: #f5f8fd;
}

.partners .partnersLogo {
  display: flex;
  justify-content: space-around;
  padding: 25px 0 60px 0;
  max-width: 900px;
  margin: 0 auto;
}

.partners .partnersLogo img {
  cursor: pointer;
}

.partners .partnersLogo img:nth-of-type(1) {
  width: 104px;
  height: 25px;
}

.partners .partnersLogo img:nth-of-type(2) {
  width: 82px;
  height: 40px;
}

.partners .partnersLogo img:nth-of-type(3) {
  width: 77px;
  height: 46px;
}

@media (min-width: 1024px) {
  .partners .partnersLogo img:nth-of-type(1) {
    width: 183px;
    height: 55px;
  }

  .partners .partnersLogo img:nth-of-type(2) {
    width: 164px;
    height: 80px;
  }

  .partners .partnersLogo img:nth-of-type(3) {
    width: 176px;
    height: 84px;
  }
}

/* next section */

footer {
  position: relative;
  padding: 30px 0 0 30px;
  height: 720px;
  background: linear-gradient(
      0deg,
      rgba(24, 43, 73, 0.8),
      rgba(24, 43, 73, 0.8)
    ),
    url("../img/footerImage.jpg") 55% 20%;
  background-size: 330% auto;
  color: #fff;
}

footer > img {
  margin: 40px 0 50px 0;
}

footer .logoGdyniaWhite {
  cursor: pointer;
}

footer .lyrics {
  padding-bottom: 80px;
}

footer .infoLyrics p {
  font-size: 19px;
}

footer .rightStrap {
  border-bottom: 15px solid #ff6319;
  width: 45%;
  padding: 0;
}

footer .organizerBox .adres > p {
  font-weight: 600;
  font-size: 16px;
}

footer .organizerBox .adres > p:nth-of-type(2) {
  margin-top: 20px;
}

footer .infoLyrics > p:nth-of-type(3) {
  display: none;
}

footer .linkedinIcon {
  margin: 20px 0 50px 0;
  cursor: pointer;
}

footer .partnersFooter p {
  text-transform: uppercase;
  letter-spacing: 7px;
  font-size: 12px;
}

footer .partnersFooter img {
  margin-top: 20px;
  cursor: pointer;
}

footer .imageBox {
  display: flex;
}

footer .imageBox img:nth-of-type(1) {
  width: 67px;
  height: 20px;
  margin-top: 50px;
}

footer .imageBox img:nth-of-type(2) {
  width: 79px;
  height: 46px;
  margin-top: 35px;
}

footer .imageBox img:nth-of-type(3) {
  width: 42px;
  height: 44px;
  margin-top: 35px;
}

footer .infoReference {
  position: absolute;
  left: 30px;
  bottom: 40px;
  display: flex;
  font-size: 12px;
}

footer .infoReference p {
  margin-right: 30px;
  cursor: pointer;
}

@media (min-width: 1024px) {
  footer {
    height: 585px;
    padding: 50px 0 0 100px;
    background-position: 0% 85%;
    background-size: 130% auto;
  }

  footer .lyrics {
    justify-content: flex-end;
    align-items: center;
  }

  footer .infoLyrics {
    margin-top: -25px;
  }

  footer .infoLyrics p {
    font-size: 28px;
    margin-right: 30px;
  }

  footer .infoLyrics > p:nth-of-type(3) {
    display: block;
    text-transform: none;
    letter-spacing: 7px;
    font-size: 14px;
  }

  footer .infoReference {
    left: 100px;
  }

  footer .organizerBox {
    display: flex;
  }

  footer .partnersFooter {
    margin-left: 8vw;
  }

  footer .imageBox img:nth-of-type(1) {
    width: 139px;
    height: 39px;
  }

  footer .imageBox img:nth-of-type(2) {
    width: 164px;
    height: 80px;
  }

  footer .imageBox img:nth-of-type(3) {
    width: 70px;
    height: 72px;
  }
}

/* @keyframes photos {
  0% {
    opacity: 0;
  }

  5% {
    opacity: 0;
  }

  10% {
    opacity: 1;
  }

  90% {
    opacity: 1;
  }

  95% {
    opacity: 0;
  }

  100% {
    opacity: 0;
  }
} */
