.person {
  display: flex;
  justify-content: space-around;
  margin: 100px 0 50px 0;
  @media (max-width: 1024px) {
    flex-direction: column;
    align-items: center;
  }
  &__box {
    width: 318px;
    text-align: center;
    padding-bottom: 50px;
  }
  &__image {
    border-radius: 10px;
  }
  &__name {
    font-size: 19px;
    text-transform: uppercase;
    font-weight: 700;
    color: $color;
    margin: 30px 0 20px 0;
  }
  &__text {
    font-size: 16px;
    line-height: 24px;
    &--display {
      display: block;
    }
    &--weight {
      font-weight: 600;
    }
  }
  &__email {
    font-size: 14px;
    font-weight: 600;
    margin: 20px 0 10px 0;
  }
}
