.info-part4
    &__bgc-image
        height: 400px
        width: 100%
        background: url("../img/greenery.webp") fixed
    &__container
        display: flex
        justify-content: space-between
        max-width: 1010px
        margin: 130px auto
    &__title
        +title
        max-width: 495px
    &__text
        +text
        margin-bottom: 15px
        max-width: 430px
