.partners
    background-color: #F5F8FC
    text-align: center
    padding: 90px 0
    margin-top: 150px
    &__title
        color: #5F6F87
        font-size: 32px
        font-weight: 500
        padding-bottom: 75px
        +mq (medium)
            padding-bottom: 50px
    &__image
        padding-right: 110px
        +mq (medium)
            padding-right: 0
        &--invest
            padding-right: 0
        +mq (medium)
            &--gdynia
                width: 67px
                height: 19px
            &--ppnt
                width: 82px
                height: 40px
            &--invest
                width: 77px
                height: 46px